<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="app">

    <h1>{{titulo}}</h1>
    <div v-for="(item, index) in listaFrutas" v-if="listaFrutas[index].nome == 'Jaca'">
      <strong>{{index + 1}} - {{item.nome}}</strong></div>
    <div v-else>{{index + 1}} - {{item.nome}}</div>

  </div>

  <script src="vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        titulo: "Parte 4 com Vue.js",
        listaFrutas: [
          {nome: "Maçã"},
          {nome: "Laranja"},
          {nome: "Melancia"},
          {nome: "Jaca"},
          {nome: "Graviola"}
        ]
      }
    })
  </script>
</body>
</html>
